*.class
*.hprof
*.pyc
*.swp
*.iml
*hs_err_pid*
*stdout.txt
*~
TAGS
bin/
/build/
classes/
test-output/
out/
ktout/
.idea/
*.ipr
*.iws
*.h4xd
.settings/*
gradle-app.setting
.gradle
.DS_Store
.DS_Store?
private/
hndlog

# Ignore Eclipse project settings
.classpath
.project
.settings/
build/*


*elm-stuff/
web/src/elm.js
web/node_modules/

# electron make dist 
dist/
web/src/resources/jars/
web/package.json
